*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}


a{
    text-decoration: none;
    color: #fff;
}

.contenedor{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(85px, 85px) auto;
    grid-template-rows: 60px auto;
    grid-template-areas: "header header"
                         "menu contenido";
    transition: all .3s ease;
}

.active{
    grid-template-columns: minmax(300px, 18%) auto;
}
/*--------------------------------Header--------------------------*/
.header{
    grid-area: header;
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-areas: "logo busqueda iconos" ;
    background: #121212;
}

.header .contenedor-logo{
    grid-area: logo;
    display: flex;
    align-items: center;
}

.header .contenedor-logo .boton-menu{
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    color: gray;
}

.header .contenedor-logo .boton-menu:hover{
    background: #262626;
}

.header .contenedor-logo .logo .fa-solid{
    background-color: blue;
    padding: 7px 12px;
    border-radius: 4px;
    font-size: 8px;
    color: #fff;
    position: relative;
    top: -4px;
    margin-right: 4px;
}

.header .contenedor-logo .logo{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    position: relative;
    top: 2px;
}

.header .barra-busqueda{
    grid-area: busqueda;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .barra-busqueda input{
    min-width: 60%;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 40px 0 0 40px;
    background: #121212;
}

.header .barra-busqueda button{
    height: 35px;
    border: 1px solid #ccc;
    border-left: none;
    color: #545454;
    background: #2E2E2E;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 0 40px 40px 0;
}


.header .botones-header{
    grid-area: iconos;
    display: flex;
    align-items: center;
}

.header .botones-header button{
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding: 7px 12px;
    border-radius: 100px;
    color: #828282;
    margin-right: 20px;
    cursor: pointer;
}

.header .botones-header button:hover{
    background: #262626;
}

.header .botones-header .avatar{
    width: 30px;
    height: 30px;
    display: inline-block;
}

.header .botones-header .avatar img{
    vertical-align: top;
    width: 100%;
    border-radius: 100px;
}



/*--------------------------------Menu lateral--------------------------*/
.menu-lateral{
    grid-area: menu;
    background: #121212;;
    overflow: hidden;

}

.menu-lateral a {
    display: block;
    padding: 15px 35px;
    color: #fff;
    min-width: 800px;
}

.menu-lateral a:hover {
    background: #262626;
}

.menu-lateral a.active {
    background: #262626;
    font-weight: bold;
}

.menu-lateral .fa-solid{
    color: #606060;
    margin-right: 32px;
    width: 20px;
    text-align: center;
}

.menu-lateral a.active .fa-solid{
    color: #ff0000;
}

.menu-lateral hr {
    margin: 20px 0;
    border: 1px solid #606060;
}




/*--------------------------------Main--------------------------*/
.main{
    grid-area: contenido;
    background: #121212;
    padding: 40px;
}

.main .titulo{
    margin-bottom: 20px;
    color: #fff;
}

.main .grid-videos {
    display: grid;
    grid-gap: 40px 20px;
    grid-template-columns: repeat(4, 1fr);
}

.main .grid-videos .video{
    width: 100%;
    display: block;
}

.main .grid-videos .video img{
    width: 100%;
}

/*--------------------------------Mediaqueries--------------------------*/


@media screen and (max-width: 1200px) {
    .main .grid-videos {
        grid-template-columns: repeat(3, 1fr);
    }

    .header .contenedor-logo span {
        display: none;
    }
    .header .barra-busqueda input {
        min-height: 70%;
    }
}

@media screen and (max-width: 992px) {
    .main .grid-videos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {

    .contenedor {
        grid-template-rows: auto;
    }

    .header{
        padding: 20px;
        grid-template: auto auto;
        justify-content: space-between;
        grid-template-areas: "logo iconos"
                             "busqueda busqueda";
    }

    .header .contenedor-logo .logo span {
        display: inline;
    }

    .header .barra-busqueda input {
        min-width: auto;
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .main .grid-videos {
        grid-template-columns: repeat(1, 1fr);
    }
}